<!DOCTYPE html>
<html lang="en">
<%- include("header") -%>
<!--header end-->
<!--page title start-->


<section class="page-title parallaxie" data-bg-img="images/bg/08.jpg">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-12">
        <h1>Products</h1>
        <nav aria-label="breadcrumb" class="page-breadcrumb">
          <ol class="breadcrumb">
          
            <li class="breadcrumb-item"><a href="">Welcome to my shop</a>
            </li>
            <!-- <li class="breadcrumb-item active" aria-current="page">Product Grid</li> -->
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>

<!--page title end-->


<!--body content start-->

<div class="page-content">


 

<section>


  <div class="container">
  
    <div class="row">
      <div class="col-lg-9 col-md-12 order-lg-12">
        <div class="row mb-5 align-items-center">
          <div class="col-md-5">
            <h2 class="title text-capitalize mb-0">Scroll through our products below </h2>
          </div>
          <!-- <div class="col-md-7 sm-mt-3 d-sm-flex justify-content-md-end align-items-center">
            <div class="sort-filter mr-4 d-flex align-items-center">
              <select>
                <option>Best Sellers</option>
                <option>Newest Item</option>
                <option>Populer</option>
              </select>
            </div>
            <div class="view-filter xs-mt-3">
              <a class="active" href="product-grid.html"><i class="fas fa-th-large"></i></a>
              <a href="product-list.html"><i class="fas fa-th"></i></a>
            </div>
          </div> -->
        </div>
        <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="product-item">
          <div class="product-img">
            <img class=" img-frame img-fluid" src="images/product/01.jpg" alt="">
            <div class="product-overlay">
              <ul class="list-inline">
                <li>
                  <a> <i class="far fa-eye eye1"></i>
                  </a>
                </li>
                <li>
                  <span class="store-item-icon">
                    <a>
                      <!-- + <i class="fas fa-shopping-bag"></i> -->
                    </a>
                </span>
                  
                </li>
              </ul>
            </div>
          </div>
          
          <div class="product-desc"> <a href="product-single.html" class="product-name">Arthritis Herb</a><h4 class="make-price-red">₦20000</h4><del class="greycross">₦25000</del></div>
          <button style="padding-bottom:0;" class="btn add-to-cart-btn">Add to cart</button>
         
          <%- include('partials/flashalerts') %>
        </div>
       
      </div>
      <div class="col-lg-4 col-md-6 sm-mt-5">
        <div class="product-item">
          <div class="product-img">
            <img class="img-frame img-fluid" src="images/product/02.jpg" alt="">
            <div class="product-overlay">
              <ul class="list-inline">
                <li>
                  <a href="#"> <i class="far fa-eye eye2"></i>
                  </a>
                </li>
                <li>
                  <span class="store-item-icon">
                    <a>
                      <!-- + <i class="fas fa-shopping-bag"></i> -->
                    </a>
                  </span>
                  
                </li>
              </ul>
            </div>
          </div>
          <div class="product-desc"> <a href="product-single.html" class="product-name">High blood pressure herb</a><h4 class="make-price-red">₦21500</h4><del class="greycross">₦26500</del></div>
          <button class="btn add-to-cart-btn">Add to cart</button>
          <%- include('partials/flashalerts') %>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 md-mt-5">
        <div class="product-item">
          <div class="product-img">
            <img class="img-frame img-fluid" src="images/product/03.jpg" alt="">
            <div class="product-overlay">
              <ul class="list-inline">
                <li>
                  <a> <i class="far fa-eye eye3"></i>
                  </a>
                </li>
                <li>
                  <span class="store-item-icon">
                    <a>
                      <!-- + <i class="fas fa-shopping-bag"></i> -->
                    </a>
                  </span>
                  
                </li>
              </ul>
            </div>
          </div>
          <div class="product-desc"> <a href="product-single.html" class="product-name">Endometriosis Herb</a><h4 class="make-price-red">₦33200</h4><del class="greycross">₦38200</del></div>
          <button class="btn add-to-cart-btn">Add to cart</button>
          <%- include('partials/flashalerts') %>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mt-5">
        <div class="product-item">
          <div class="product-img">
            <img class="img-frame img-fluid" src="images/product/04.jpg" alt="">
            <div class="product-overlay">
              <ul class="list-inline">
                <li>
                  <a> <i class="far fa-eye eye4"></i>
                  </a>
                </li>
                <li>
                  <span class="store-item-icon">
                    <a>
                      <!-- + <i class="fas fa-shopping-bag"></i> -->
                    </a>
                  </span>                 
                </li>
              </ul>
            </div>
          </div>
          <div class="product-desc"> <a href="product-single.html" class="product-name">Erectile Dysfunction Herb</a><h4 class="make-price-red">₦15000</h4><del class="greycross">₦20000</del></div>
          
            <button class="btn add-to-cart-btn" >Add to cart</button>
            <%- include('partials/flashalerts') %>
            
          
         

        </div>
      </div>
      <div class="col-lg-4 col-md-6 mt-5">
        <div class="product-item">
          <div class="product-img">
            <img class="img-frame img-fluid" src="images/product/05.jpg" alt="">
            <div class="product-overlay">
              <ul class="list-inline">
            
                <li>
                  <a> <i class="far fa-eye eye5"></i>
                  </a>
                </li>
                <li>
                  <span class="store-item-icon">
                    <a>
                      <!-- + <i class="fas fa-shopping-bag"></i> -->
                    </a>
                  </span>
                  
                </li>
              </ul>
            </div>
          </div>
          <div class="product-desc"> <a href="product-single.html" class="product-name"><h4></h4>Fibrod Shrinker Herb</a><h4 class="make-price-red">₦35000</h4><del class="greycross">₦40000</del></div>
          <button class="btn add-to-cart-btn">Add to cart</button>
          <%- include('partials/flashalerts') %>

        </div>
      </div>
      <div class="col-lg-4 col-md-6 mt-5">
        <div class="product-item">
          <div class="product-img">
            <img class="img-frame img-fluid" src="images/product/06.jpg" alt="">
            <div class="product-overlay">
              <ul class="list-inline">
                <li>
                  <a> <i class="far fa-eye eye6"></i>
                  </a>
                </li>
                <li>
                  <span class="store-item-icon">
                    <a>
                      <!-- + <i class="fas fa-shopping-bag"></i> -->
                    </a>
                  </span>
                  
                </li>
              </ul>
            </div>
          </div>
          <div class="product-desc"> <a href="product-single.html" class="product-name">Fallopian Tube Blockage Herb</a><h4 class="make-price-red">₦28000</h4><del class="greycross">₦33000</del></div>
          <button class="btn add-to-cart-btn">Add to cart</button>
          <%- include('partials/flashalerts') %>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mt-5">

          <div class="product-item">
            <div class="product-img">
              <img class="img-frame img-fluid" src="images/product/07.jpg" alt="">
              <div class="product-overlay">
                <ul class="list-inline">
                  <li>
                    <a > <i class="far fa-eye eye7"></i>
                    </a>
                  </li>
                  <li>
                    <span class="store-item-icon">
                      <a>
                        <!-- + <i class="fas fa-shopping-bag"></i> -->
                      </a>
                    </span>
                    
                  </li>
                </ul>
              </div>
            </div>
            <div class="product-desc"> <a href="product-single.html" class="product-name">Fertility Booster Herb</a><h4 class="make-price-red">₦40000</h4><del class="greycross">₦45000</del></div>
            <button class="btn add-to-cart-btn">Add to cart</button>
            <%- include('partials/flashalerts') %>

          </div>

          
        
     
      </div>
      <div class="col-lg-4 col-md-6 mt-5">

        <div class="product-item">
          <div class="product-img">
            <img class="img-frame img-fluid" src="images/product/08.jpg" alt="">
            <div class="product-overlay">
              <ul class="list-inline">
                <li>
                  <a> <i class="far fa-eye eye8"></i>
                  </a>
                </li>
                <li>
                  <span class="store-item-icon">
                    <a >
                      <!-- + <i class="fas fa-shopping-bag"></i> -->
                    </a>
                  </span>
                  
                </li>
              </ul>
            </div>
          </div>
          <div class="product-desc"> <a href="product-single.html" class="product-name">Flat Tummy Herb</a><h4 class="make-price-red">₦15000</h4><del class="greycross">₦20000</del></div>
          <button class="btn add-to-cart-btn">Add to cart</button>
          <%- include('partials/flashalerts') %>

        </div>

        
      
   
    </div>
    <div class="col-lg-4 col-md-6 mt-5">

      <div class="product-item">
        <div class="product-img">
          <img class="img-frame img-fluid" src="images/product/09.jpg" alt="">
          <div class="product-overlay">
            <ul class="list-inline">
              
              <li>
                <a > <i class="far fa-eye eye9"></i>
                </a>
              </li>
              <li>
                <span class="store-item-icon">
                  <a >
                    <!-- + <i class="fas fa-shopping-bag"></i> -->
                  </a>
                </span>
                
              </li>
            </ul>
          </div>
        </div>
        <div class="product-desc"> <a href="product-single.html" class="product-name">Hormonal Imbalance Herb</a><h4 class="make-price-red">₦24000</h4><del class="greycross">₦29000</del></div>
        <button class="btn add-to-cart-btn">Add to cart</button>
        <%- include('partials/flashalerts') %>

      </div>

      
    
 
  </div>
  <div class="col-lg-4 col-md-6 mt-5">

    <div class="product-item">
      <div class="product-img">
        <img class="img-frame img-fluid" src="images/product/10.jpg" alt="">
        <div class="product-overlay">
          <ul class="list-inline">
            <li>
              <a > <i class="far fa-eye eye10"></i>
              </a>
            </li>
            <li>
              <span class="store-item-icon">
                <a >
                  <!-- + <i class="fas fa-shopping-bag"></i> -->
                </a>
              </span>
              
            </li>
          </ul>
        </div>
      </div>
      <div class="product-desc"> <a href="product-single.html" class="product-name">Infection Herb</a><h4 class="make-price-red">₦15000</h4><del class="greycross">₦20000</del></div>
      <button class="btn add-to-cart-btn">Add to cart</button>
      <%- include('partials/flashalerts') %>  

    </div>

    
  

</div>
<div class="col-lg-4 col-md-6 mt-5">

  <div class="product-item">
    <div class="product-img">
      <img class="img-frame img-fluid" src="images/product/11.jpg" alt="">
      <div class="product-overlay">
        <ul class="list-inline">
          <li>
            <a > <i class="far fa-eye eye11"></i>
            </a>
          </li>
          <li>
            <span class="store-item-icon">
              <a >
                <!-- + <i class="fas fa-shopping-bag"></i> -->
              </a>
            </span>
            
          </li>
        </ul>
      </div>
    </div>
    <div class="product-desc"> <a href="product-single.html" class="product-name">Ovarian Cyst Herb</a><h4 class="make-price-red">₦35000</h4><del class="greycross">₦40000</del></div>
    <button class="btn add-to-cart-btn">Add to cart</button>

  </div>

  


</div>
<div class="col-lg-4 col-md-6 mt-5">

  <div class="product-item">
    <div class="product-img">
      <img class="img-frame img-fluid" src="images/product/12.jpg" alt="">
      <div class="product-overlay">
        <ul class="list-inline">
          <li>
            <a > <i class="far fa-eye eye12"></i>
            </a>
          </li>
          <li>
            <span class="store-item-icon">
              <a >
                <!-- + <i class="fas fa-shopping-bag"></i> -->
              </a>
            </span>
            
          </li>
        </ul>
      </div>
    </div>
    <div class="product-desc"> <a href="product-single.html" class="product-name">PCOS Herb</a><h4 class="make-price-red">₦23000</h4><del class="greycross">₦28000</del></div>
    <button class="btn add-to-cart-btn">Add to cart</button>

  </div>

  


</div>
<div class="col-lg-4 col-md-6 mt-5">

  <div class="product-item">
    <div class="product-img">
      <img class="img-frame img-fluid" src="images/product/13.jpg" alt="">
      <div class="product-overlay">
        <ul class="list-inline">
          <li>
            <a > <i class="far fa-eye eye13"></i>
            </a>
          </li>
          <li>
            <span class="store-item-icon">
              <a >
                <!-- + <i class="fas fa-shopping-bag"></i> -->
              </a>
            </span>
            
          </li>
        </ul>
      </div>
    </div>
    <div class="product-desc"> <a href="product-single.html" class="product-name">Male Fertility Booster Herb</a><h4 class="make-price-red">₦40000</h4><del class="greycross">₦45000</del></div>
    <button class="btn add-to-cart-btn">Add to cart</button>

  </div>

  


</div>
<div class="col-lg-4 col-md-6 mt-5">

  <div class="product-item">
    <div class="product-img">
      <img class="img-frame img-fluid" src="images/product/14.jpg" alt="">
      <div class="product-overlay">
        <ul class="list-inline">
          <li>
            <a > <i class="far fa-eye eye14"></i>
            </a>
          </li>
          <li>
            <span class="store-item-icon">
              <a >
                <!-- + <i class="fas fa-shopping-bag"></i> -->
              </a>
            </span>
            
          </li>
        </ul>
      </div>
    </div>
    <div class="product-desc"> <a href="product-single.html" class="product-name">Twin Booster Herb</a><h4 class="make-price-red">₦42000</h4><del class="greycross">₦47000</del></div>
    <button class="btn add-to-cart-btn">Add to cart</button>

  </div>

  


</div>
<div class="col-lg-4 col-md-6 mt-5">

  <div class="product-item">
    <div class="product-img">
      <img class="img-frame img-fluid" src="images/product/15.jpg" alt="">
      <div class="product-overlay">
        <ul class="list-inline">
         
          <li>
            <a > <i class="far fa-eye eye15"></i>
            </a>
          </li>
          <li>
            <span class="store-item-icon">
              <a >
                <!-- + <i class="fas fa-shopping-bag"></i> -->
              </a>
            </span>
            
          </li>
        </ul>
      </div>
    </div>
    <div class="product-desc"> <a href="product-single.html" class="product-name">Weight Loss Herb</a><h4 class="make-price-red">₦15000</h4><del class="greycross">₦20000</del></div>
    <button class="btn add-to-cart-btn">Add to cart</button>

  </div>

  


</div>

      
      <div>
        
      </div>
    </div>       
    
    
    <!-- <div>

        
        <nav aria-label="Page navigation" class="mt-5">
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#"><i class="fas fa-arrow-left"></i></a>
            </li>
            <li class="page-item active"><a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a>
            </li>
            <li class="page-item"><a class="page-link" href="#"><i class="fas fa-arrow-right"></i></a>
            </li>
          </ul>
        </nav> -->
      <!-- </div> -->
      <!-- <div class="col-lg-3 col-md-12 order-lg-1 sidebar"> -->
        <!-- <div class="widget">
          <h5 class="widget-title mt-0">Categories</h5>
          <ul class="widget-categories list-unstyled">
            <li> <a href="#"><i class="fas fa-angle-right mr-1"></i> All</a>
            </li>
            <li> <a href="#"><i class="fas fa-angle-right mr-1"></i> Men’s Fashion</a>
            </li>
            <li> <a href="#"><i class="fas fa-angle-right mr-1"></i> Women’s Fashion</a>
            </li>
            <li> <a href="#"><i class="fas fa-angle-right mr-1"></i> Kid's Fashion</a>
            </li>
            <li> <a href="#"><i class="fas fa-angle-right mr-1"></i> New Arrivals</a>
            </li>
            <li> <a href="#"><i class="fas fa-angle-right mr-1"></i> Accessories</a>
            </li>
          </ul>
        </div> -->
        <!-- <div class="widget">
          <h5 class="widget-title">Price</h5>
          <div class="widget-price">
            <div id="slider-range"></div>
            <input type="text" id="amount" readonly style="border:0;">
          </div>
        </div> -->
        <!-- <div class="widget">
          <h5 class="widget-title">Color</h5>
          <div class="filter-color">
            <ul class="list-inline">
            <li>
              <div class="form-check pl-0">
                <input type="radio" class="form-check-input" id="color-filter1" name="ExampleRadios">
                <label class="form-check-label" for="color-filter1" data-bg-color="#dddddd"></label>
              </div>
            </li>
            <li>
              <div class="form-check pl-0">
                <input type="radio" class="form-check-input" id="color-filter2" name="ExampleRadios" checked>
                <label class="form-check-label" for="color-filter2" data-bg-color="#ee4000"></label>
              </div>
            </li>
            <li>
              <div class="form-check pl-0">
                <input type="radio" class="form-check-input" id="color-filter3" name="ExampleRadios">
                <label class="form-check-label" for="color-filter3" data-bg-color="#ffc300"></label>
              </div>
            </li>
            <li>
              <div class="form-check pl-0">
                <input type="radio" class="form-check-input" id="color-filter4" name="ExampleRadios">
                <label class="form-check-label" for="color-filter4" data-bg-color="#3cb371"></label>
              </div>
            </li>
            <li>
              <div class="form-check pl-0">
                <input type="radio" class="form-check-input" id="color-filter5" name="ExampleRadios">
                <label class="form-check-label" for="color-filter5" data-bg-color="#bc83b1"></label>
              </div>
            </li>
            <li>
              <div class="form-check pl-0">
                <input type="radio" class="form-check-input" id="color-filter6" name="ExampleRadios">
                <label class="form-check-label" for="color-filter6" data-bg-color="#000"></label>
              </div>
            </li>
          </ul>
          </div>
        </div> -->
        <!-- <div class="widget">
          <h5 class="widget-title">Size</h5>
          <div class="size-choose">
            <ul class="list-inline">
              <li>
                <input name="sc" id="s-size" type="radio">
                <label for="s-size">S</label>
              </li>
              <li>
                <input name="sc" id="m-size" checked="" type="radio">
                <label for="m-size">M</label>
              </li>
              <li>
                <input name="sc" id="l-size" type="radio">
                <label for="l-size">L</label>
              </li>
              <li>
                <input name="sc" id="xl-size" type="radio">
                <label for="xl-size">XL</label>
              </li>
              <li>
                <input name="sc" id="xxl-size" type="radio">
                <label for="xxl-size">XXL</label>
              </li>
            </ul>
          </div>
        </div> -->
      <!-- </div> -->
    </div>
  </div>
</section>

</div>
<div class="singleproduct1">
  <span class="closesingle">X</span>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6">
              <img class="img-fluid w-100" src="/images/product/01.jpg" alt="" />      
        </div>
        <div class="col-lg-6 col-md-6 md-mt-5">
          <div class="product-details">
            <h4>
          Arthritis Herb
          </h4>
            <div class="product-price my-4"> <span class="mr-3">₦20,000<del>₦15,000</del></span>
              <!-- <span class="review-rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                      </span> -->
            </div>
            <ul class="portfolio-meta list-unstyled mb-4">
              <li class="mb-2"><span class="text-black"> Availibility: </span> In Stock</li>
              <!-- <li><span class="text-black"> Categories :</span> Men and Women</li> -->
            </ul>
            <p>This herb contains antioxidants which help fight the inflammation that occurs with RA (Rheumatoid arthritis) or OA (osteoarthritis).</p>
            <div class="row my-4">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



</div>
<div class="singleproduct2">
  <span class="closesingle">X</span>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6">
              <img class="img-fluid w-100" src="images/product/02.jpg" alt="" />      
        </div>
        <div class="col-lg-6 col-md-6 md-mt-5">
          <div class="product-details">
            <h4>
            High Blood Pressure Herb
          </h4>
            <div class="product-price my-4"> <span class="mr-3">₦21,500<del>₦16,500</del></span>
              <!-- <span class="review-rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                      </span> -->
            </div>
            <ul class="portfolio-meta list-unstyled mb-4">
              <li class="mb-2"><span class="text-black"> Availibility: </span> In Stock</li>
              <!-- <li><span class="text-black"> Categories :</span> Men and Women</li> -->
            </ul>
            <p>The best way to manage high blood pressure is through a combination of the right medications, a healthy diet, regular exercise, and engaging in healthy lifestyle behaviors, therefore you can incorporate this herbs into your diet such that it will help lower your blood pressure.
            </p>
            <div class="row my-4">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>

<div class="singleproduct3">
  <span class="closesingle">X</span>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6">
              <img class="img-fluid w-100" src="images/product/03.jpg" alt="" />      
        </div>
        <div class="col-lg-6 col-md-6 md-mt-5">
          <div class="product-details">
            <h4>
          Endometriosis Herb
          </h4>
            <div class="product-price my-4"> <span class="mr-3">₦33,200<del>₦28,200</del></span>
              <!-- <span class="review-rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                      </span> -->
            </div>
            <ul class="portfolio-meta list-unstyled mb-4">
              <li class="mb-2"><span class="text-black"> Availibility: </span> In Stock</li>
              <!-- <li><span class="text-black"> Categories :</span> Men and Women</li> -->
            </ul>
            <p>In conjunction with this herbs and its homeopathic treatment approach, I recommend that my Endometriosis patients conditions will be reversed as it consists of a concentrated extract of natural and organic herbs.
            </p>
            <div class="row my-4">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- POP UP FOR PRODUCT 4  -->
<div class="singleproduct4">
  <span class="closesingle">X</span>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6">
              <img class="img-fluid w-100" src="images/product/04.jpg" alt="" />      
        </div>
        <div class="col-lg-6 col-md-6 md-mt-5">
          <div class="product-details">
            <h4>
            Erectile Dysfunction Herb
          </h4>
            <div class="product-price my-4"> <span class="mr-3">₦15,000<del>₦12,000</del></span>
              <!-- <span class="review-rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                      </span> -->
            </div>
            <ul class="portfolio-meta list-unstyled mb-4">
              <li class="mb-2"><span class="text-black"> Availibility: </span> In Stock</li>
              <!-- <li><span class="text-black"> Categories :</span> Men and Women</li> -->
            </ul>
            <p>This herb contains 100% organic plants that work as a natural aphrodisiacs which help increase libido, potency, or sexual pleaure</p>
            <div class="row my-4">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- POP UP FOR PRODUCT 5  -->
<div class="singleproduct5">
  <span class="closesingle">X</span>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6">
              <img class="img-fluid w-100" src="images/product/05.jpg" alt="" />      
        </div>
        <div class="col-lg-6 col-md-6 md-mt-5">
          <div class="product-details">
            <h4>
          Fibroid Shrinker Herb             
          </h4>
            <div class="product-price my-4"> <span class="mr-3">₦40,000<del>₦35,000</del></span>
              <!-- <span class="review-rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                      </span> -->
            </div>
            <ul class="portfolio-meta list-unstyled mb-4">
              <li class="mb-2"><span class="text-black"> Availibility: </span> In Stock</li>
              <!-- <li><span class="text-black"> Categories :</span> Men and Women</li> -->
            </ul>
            <p>This formula contains several herbs that act to shrink uterine fibroid and keep your uterus healthy by reducing the sizes and number of fibroids due to its ability to reduce inflammations and remove toxins from the body.2</p>
            <div class="row my-4">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- POP UP FOR PRODUCT 6 -->
<div class="singleproduct6">
  <span class="closesingle">X</span>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6">
              <img class="img-fluid w-100" src="images/product/06.jpg" alt="" />      
        </div>
        <div class="col-lg-6 col-md-6 md-mt-5">
          <div class="product-details">
            <h4>
         Fallopian Tube Blockage Herb
          </h4>
            <div class="product-price my-4"> <span class="mr-3">₦28,200<del>₦23,200</del></span>
            
            </div>
            <ul class="portfolio-meta list-unstyled mb-4">
              <li class="mb-2"><span class="text-black"> Availibility: </span> In Stock</li>
              <!-- <li><span class="text-black"> Categories :</span> Men and Women</li> -->
            </ul>
            <p>This is a natural treatments made from 100% organic plants. The combination of the herbs and supplement help to: Break down adhesion and scar tissue from the Fallopian tubes, increase blood circulation to the Fallopian tubes, stimulates the flow of oxygen and nutrients to the uterus, ovaries and Fallopian tubes, reduce inflammation and help in getting pregnant quickly.</p>
            <div class="row my-4">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- POP UP FOR PRODUCT 7 -->

<div class="singleproduct7">
  <span class="closesingle">X</span>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6">
              <img class="img-fluid w-100" src="images/product/07.jpg" alt="" />      
        </div>
        <div class="col-lg-6 col-md-6 md-mt-5">
          <div class="product-details">
            <h4>
              Fertility Booster Herb
          </h4>
            <div class="product-price my-4"> <span class="mr-3">₦50,000<del>₦55,000</del></span>
              
            </div>
            <ul class="portfolio-meta list-unstyled mb-4">
              <li class="mb-2"><span class="text-black"> Availibility: </span> In Stock</li>
              <!-- <li><span class="text-black"> Categories :</span> Men and Women</li> -->
            </ul>
            <p>The herbs seem to enhance and increase ovarian functions and they do not pose the risk of OHSS (ovarian hyperstimulation syndrome).Ensure Birth control pills should not be used.</p>
            <div class="row my-4">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>


<!-- POP UP FOR PRODUCT 8 -->
<div class="singleproduct8">
  <span class="closesingle">X</span>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6">
              <img class="img-fluid w-100" src="images/product/08.jpg" alt="" />      
        </div>
        <div class="col-lg-6 col-md-6 md-mt-5">
          <div class="product-details">
            <h4>
          Flat tummy Herb
          </h4>
            <div class="product-price my-4"> <span class="mr-3">₦15,000<del>₦20,000</del></span>
            
            </div>
            <ul class="portfolio-meta list-unstyled mb-4">
              <li class="mb-2"><span class="text-black"> Availibility: </span> In Stock</li>
              <!-- <li><span class="text-black"> Categories :</span> Men and Women</li> -->
            </ul>
            <p>no description available</p>
            <div class="row my-4">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>


<!-- POP UP FOR PRODUCT 9 -->
<div class="singleproduct9">
  <span class="closesingle">X</span>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6">
              <img class="img-fluid w-100" src="images/product/09.jpg" alt="" />      
        </div>
        <div class="col-lg-6 col-md-6 md-mt-5">
          <div class="product-details">
            <h4>
          Hormonal Imbalance Herb
          </h4>
            <div class="product-price my-4"> <span class="mr-3">₦23,200<del>₦28,200</del></span>
    
            </div>
            <ul class="portfolio-meta list-unstyled mb-4">
              <li class="mb-2"><span class="text-black"> Availibility: </span> In Stock</li>
              <!-- <li><span class="text-black"> Categories :</span> Men and Women</li> -->
            </ul>
            <p>This herb helps to balance and regulate estrogen levels in women going into menopause, reducing or improving them depending on your hormonal imbalances. It has also been found to lessen cramps as a symptom of premenstrual syndrome (PMS), and can ease the pelvic pain in menopause.</p>
            <div class="row my-4">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- POP UP FOR PRODUCT 10 -->
<div class="singleproduct10">
  <span class="closesingle">X</span>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6">
              <img class="img-fluid w-100" src="images/product/10.jpg" alt="" />      
        </div>
        <div class="col-lg-6 col-md-6 md-mt-5">
          <div class="product-details">
            <h4>
          Infection Herb
          </h4>
            <div class="product-price my-4"> <span class="mr-3">₦15,000<del>₦20,000</del></span>
              
            </div>
            <ul class="portfolio-meta list-unstyled mb-4">
              <li class="mb-2"><span class="text-black"> Availibility: </span> In Stock</li>
            
            </ul>
            <p>This herb helps to balance and regulate estrogen levels in women going into menopause, reducing or improving them depending on your hormonal imbalances. It has also been found to lessen cramps as a symptom of premenstrual syndrome (PMS), and can ease the pelvic pain in menopause.</p>
            <div class="row my-4">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>


<!-- POP UP FOR PRODUCT 11 -->
<div class="singleproduct11">
  <span class="closesingle">X</span>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6">
              <img class="img-fluid w-100" src="images/product/11.jpg" alt="" />      
        </div>
        <div class="col-lg-6 col-md-6 md-mt-5">
          <div class="product-details">
            <h4>
          Ovarian Cyst Herb
          </h4>
            <div class="product-price my-4"> <span class="mr-3">₦35,000<del>₦40,000</del></span>
            
            </div>
            <ul class="portfolio-meta list-unstyled mb-4">
              <li class="mb-2"><span class="text-black"> Availibility: </span> In Stock</li>
       
            </ul>
            <p>This herbal tea is also considered a good remedy for treating ovarian cysts as it consists of a concentrated extract of pure organic plants (which specifically thins the walls of cysts and encourages the cysts to rupture much.</p>
            <div class="row my-4">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- POP UP FOR PRODUCT 12  -->
<div class="singleproduct12">
  <span class="closesingle">X</span>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6">
              <img class="img-fluid w-100" src="images/product/12.jpg" alt="" />      
        </div>
        <div class="col-lg-6 col-md-6 md-mt-5">
          <div class="product-details">
            <h4>
        PCOS Herb
          </h4>
            <div class="product-price my-4"> <span class="mr-3">₦23,000<del>₦28,000/del></span>
       
            </div>
            <ul class="portfolio-meta list-unstyled mb-4">
              <li class="mb-2"><span class="text-black"> Availibility: </span> In Stock</li>         
            </ul>
            <p>This herb helps in the correcting an ovulation iue and tackling metabolic problems like insulin resistance </p>
            <div class="row my-4">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- POP UP FOR PRODUCT 13 -->

<div class="singleproduct13">
  <span class="closesingle">X</span>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6">
              <img class="img-fluid w-100" src="images/product/13.jpg" alt="" />      
        </div>
        <div class="col-lg-6 col-md-6 md-mt-5">
          <div class="product-details">
            <h4>
          Male Fertility Booster Herb
          </h4>
            <div class="product-price my-4"> <span class="mr-3">#0.00<del>#0.00</del></span>
            </div>
            <ul class="portfolio-meta list-unstyled mb-4">
              <li class="mb-2"><span class="text-black"> Availibility: </span> In Stock</li>
              
            </ul>
            <p></p>
            <div class="row my-4">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>


<!-- POP UP FOR PRODUCT 14 -->
<div class="singleproduct14">
  <span class="closesingle">X</span>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6">
              <img class="img-fluid w-100" src="images/product/14.jpg" alt="" />      
        </div>
        <div class="col-lg-6 col-md-6 md-mt-5">
          <div class="product-details">
            <h4>
          Twin Booster Herb
          </h4>
            <div class="product-price my-4"> <span class="mr-3">₦42,000<del>₦47,000</del></span>
             
            </div>
            <ul class="portfolio-meta list-unstyled mb-4">
              <li class="mb-2"><span class="text-black"> Availibility: </span> In Stock</li>            
            </ul>
            <p>Women who take these boosting supplements pack have a higher chance of getting pregnant with twin. This herbal supplement stimulate your ovaries and increases your chances of releasing several eggs at a time.</p>
            <div class="row my-4">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- POP UP FOR PRODUCT 15 -->

<div class="singleproduct15">
  <span class="closesingle">X</span>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6">
              <img class="img-fluid w-100" src="images/product/15.jpg" alt="" />      
        </div>
        <div class="col-lg-6 col-md-6 md-mt-5">
          <div class="product-details">
            <h4>
          Weight Loss Herb
          </h4>
            <div class="product-price my-4"> <span class="mr-3">₦15,000<del>₦20,000</del></span>
            
            </div>
            <ul class="portfolio-meta list-unstyled mb-4">
              <li class="mb-2"><span class="text-black"> Availibility: </span> In Stock</li>
          
            </ul>
            <p>It’s no secret that what you’re putting on your plate plays a central role in weight loss but you should add this Herb to your spice cabinet. This Herb have been shown to fight cravings and boost fat burning and weight loss as it also accelerates metabolism, likewise reduces absorption of dietary fat.</p>
            <div class="row my-4">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>


<!--body content end--> 


<!--footer start-->

<%- include('footer') -%>
<script>

  $(document).ready(function(){
    $(".homeclass").removeClass("active");
    $(".shopclass").addClass("active");
    $(".aboutclass").removeClass("active");
    $('.contactclass').removeClass("active")
   });
  
</script>
<script src="./js/shopjs.js"></script>
<script type= "module" src="./js/script.js"></script>

</body>
</html>
